body {
    height: 100%;
}

.row {
    height: 100%;
}

#img-wallpaper {
    height: 100%;
    width: 100%;
}

#dv-container {
    width: 60%;
}

#label-app {
    color: #212121;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px #212121;
    width: 100%;
}

.btn {
    background-color: #00a300;
    border-color: #00a300;
    width: 100%;
}

    .btn:hover {
        background: #00CC00;
        border-color: #00CC00;
    }
